:root {
  /* === reference tokens === */

  /* colors */
  --color-red: rgba(255, 57, 40, 1);
  --color-white: white;
  --color-black: black;
  --color-gray-800: rgba(27, 27, 27, 1);
  --color-gray-500: rgba(47, 47, 47, 1);

  /* typography */
  --font-size-s: 1rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;

  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
 
  --h1-line-height: 1;
  --h2-line-height: 1.35;
  --h3-line-height: 1.4;
  --font-line-height-s: 1;
  --font-line-height-m: 1.55;
  --font-line-height-l: 1.6;
  --font-line-height-xl: 1.65;

  --h1-font-weight: 300;
  --h2-font-weight: 400;
  --h3-font-weight: 600;
  --font-weight: 400;

  --font-family-text: "Nohemi", sans-serif;

  /* spacing */
  --spacing-factor: 8px;

  --spacing-xs: calc(var(--spacing-factor) / 4);
  --spacing-s: calc(var(--spacing-factor) / 2);
  --spacing-m: var(--spacing-factor);
  --spacing-l: calc(var(--spacing-factor) * 1.5);
  --spacing-xl: calc(var(--spacing-factor) * 2);
  --spacing-xxl: calc(var(--spacing-factor) * 4);

  /* breakpoints */
  --breakpoint-xs: 0px
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
 
  /* border radius */
  --border-radius-xs: calc(var(--spacing-factor) / 2);
  --border-radius-s: var(--spacing-factor);
  --border-radius-m: calc(var(--spacing-factor) * 2);
  --border-radius-l: calc(var(--spacing-factor) * 3);
  --border-radius-xl: calc(var(--spacing-factor) * 4);

  /* === system tokens === */
  /* colors */
  --color-primary: var(--color-red);
  --color-text-primary: var(--color-white);
  --primary-background-color: var(--color-gray-800);
  --secondary-background-color: var(--color-gray-500);

  /* paragraph */
  --primary-text-color: var(--color-text-primary);

  /* spacing */
  --primary-gap: var(--spacing-xl);

  /* === component tokens === */

  /* button */
  --button-bg: var(--color-primary);

  /* section */
  --section-background-color: var(--secondary-background-color);
  --section-border-radius: var(--border-radius-xl);
  --section-padding: var(--spacing-l) var(--spacing-xl);

  /* links */
  --primary-link-color: var(--color-red);
}

@media (min-width: 375px) {
  :root {
    --h1-font-size: 4rem;
  }
}

@media (min-width: 425px) { 
  :root { 
    --h1-font-size: 6rem;
    
    --font-size-s: 1rem;
    --font-size-m: 1.5rem;
    --font-size-l: 1.75rem;
  }
}

@media (min-width: 768px) {
  :root {
    --h1-font-size: 8rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --h1-font-size: 12rem;
  }
}
