:root {
  /* === reference tokens === */

  /* colors */
  --color-red: rgba(255, 57, 40, 1);
  --color-white: white;
  --color-black: black;
  --color-gray-800: rgba(27, 27, 27, 1);
  --color-gray-500: rgba(47, 47, 47, 1);

  /* typography */
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --h1-font-size: max(200px, 12.5rem);
  --h2-font-size: max(65px, 4.063rem);
  --h3-font-size: 2.25rem;
  --h3-font-size: 2rem;
 
  --h1-line-height: 1;
  --h2-line-height: 1.35;
  --h3-line-height: 1.4;
  --h3-line-height: 1.5;
  --font-line-height-md: 1.55;
  --font-line-height-lg: 1.6;
  --font-line-height-xl: 1.65;

  --h1-font-weight: 300;
  --h2-font-weight: 600;
  --h3-font-weight: 600;
  --h4-font-weight: 600;
  --font-weight: 400;

  --font-family-text: "Nohemi", sans-serif;

  /* spacing */
  --spacing-factor: 8px;

  --spacing-xs: calc(var(--spacing-factor) / 4);
  --spacing-s: calc(var(--spacing-factor) / 2);
  --spacing-m: var(--spacing-factor);
  --spacing-l: calc(var(--spacing-factor) * 1.5);
  --spacing-xl: calc(var(--spacing-factor) * 2);
  --spacing-xxl: calc(var(--spacing-factor) * 4);

  /* breakpoints */
  --breakpoint-xs: 0px
  --breakpoint-sm: 600px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1536px;
 
  /* border radius */
  --border-radius-xs: calc(var(--spacing-factor) / 2);
  --border-radius-s: var(--spacing-factor);
  --border-radius-m: calc(var(--spacing-factor) * 2);
  --border-radius-l: calc(var(--spacing-factor) * 3);
  --border-radius-xl: calc(var(--spacing-factor) * 4);

  /* === system tokens === */
  /* colors */
  --color-primary: var(--color-red);
  --color-text-primary: var(--color-white);
  --primary-background-color: var(--color-gray-800);
  --secondary-background-color: var(--color-gray-500);

  /* paragraph */
  --primary-text-color: var(--color-text-primary);

  /* spacing */
  --primary-gap: var(--spacing-xl);

  /* === component tokens === */

  /* button */
  --button-bg: var(--color-primary);

  /* section */
  --section-background-color: var(--secondary-background-color);
  --section-border-radius: var(--border-radius-xl);
  --section-padding: var(--spacing-xl);

  /* links */
  --primary-link-color: var(--color-red);
}
