:root {
  --color-navy: #364f6b;
  --color-orange: #f35b25;
  --color-teal: #3fc1c9;
  --color-gray: #e8e2e2;
  --color-white: #fdfcfc;

  --light-theme-text-primary-color: var(--color-navy);
  --dark-theme-text-primary-color: var(--color-gray);

  --light-theme-text-secondary-color: var(--color-gray);
  --dark-theme-text-secondary-color: var(--color-gray);

  --light-theme-background-color: var(--color-white);
  --dark-theme-background-color: var(--color-navy);

  --light-theme-primary-color: var(--color-navy);
  --dark-theme-primary-color: var(--color-white);

  --light-theme-accent-color: var(--color-teal);
  --dark-theme-accent-color: var(--color-teal);

  --primary-color: var(--light-theme-primary-color);
  --accent-color: var(--light-theme-accent-color);
  --background-color: var(--light-theme-background-color);
  --text-primary-color: var(--light-theme-text-primary-color);
  --text-secondary-color: var(--light-theme-text-secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--dark-theme-primary-color);
    --accent-color: var(--dark-theme-accent-color);
    --background-color: var(--dark-theme-background-color);
    --text-primary-color: var(--dark-theme-text-primary-color);
    --text-secondary-color: var(--dark-theme-text-secondary-color);
  }
}
