<header class="header section">
    <a href="/" aria-label="Home">
        <picture>
            <source srcset="assets/images/avatar.webp" type="image/webp"/>
            <img src="assets/images/avatar.png" alt="Personal avatar" width="41" height="41">
        </picture>
    </a>

    {# TODO: nav #}
    {# TODO: theme switch #}
</header>