@import url("./theme.css");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--background-color);
  color: var(--text-primary-color);

  --max-container-width: 850px;
}

.header,
.main,
.footer {
  padding: 0 max(16px, calc((100vw - var(--max-container-width)) / 2));
}

.header {
  --header-height: 120px;

  height: var(--header-height);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_avatar {
  --avatar-size: 80px;

  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 100%;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.5rem;
}

.main {
  flex-grow: 1;
}
